.common-container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}

/* WEB VIEW */

/* ----- SignIn start ----- */
.form-title {
  font-size: 45px;
  color: #3d3d3d;
}

.form-subtitle {
  font-size: 23px;
  color: #3d3d3d;
}

.common-sign-width {
  width: 65%;
}

.social-icons {
  width: 65px;
  height: 65px;
  border: 3px solid #3e3e3e;
  font-size: 25px;
}

/* form part */
.custom-input {
  border: 3px solid #3e3e3e;
  color: #3e3e3e;
  box-shadow: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  width: 65%;
  height: 70px;
  font-weight: 600;
}

.custom-input::placeholder {
  color: #3e3e3e;
  font-size: 20px;
}

.check-input {
  border: 3px solid #3e3e3e;
}

.custom-button-style {
  width: 65%;
  height: 60px;
}

/* custom check box */
.custom-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  user-select: none;
  font-size: 22px;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: relative;
  height: 42px;
  width: 42px;
  border: 3px solid #3e3e3e;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #3e3e3e;
  border-color: #3e3e3e;
}

/* center tick */
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.custom-checkbox input:checked ~ .checkmark::after {
  opacity: 1;
}

/* hover/focus effect */
.custom-checkbox:hover .checkmark {
  border-color: #2e2e2e;
}
/* ----- SignIn end ----- */


/* ----- Navbar start ----- */
.nav-link:hover {
  color: #000 !important;
}

.active-link span {
  transition: width 0.3s ease;
}
/* ----- Navbar end ----- */


/* ----- Home start ----- */
/* ----- Home end ----- */

/* MOBILE VIEW */
@media screen and (max-width: 768px) {
  .form-title {
    font-size: 34px;
  }

  .form-subtitle {
    font-size: 18px;
    color: #3d3d3d;
  }

  .common-sign-width {
    width: 100%;
  }

  .social-icons {
    width: 50px;
    height: 50px;
    border: 2px solid #3e3e3e;
    font-size: 18px;
  }

  /* form part */
  .custom-input {
    border: 3px solid #3e3e3e;
    color: #3e3e3e;
    box-shadow: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    height: 55px;
    font-weight: 600;
  }

  .custom-button-style {
    width: 100%;
    height: 60px;
    font-size: 20px;
  }

  /* custom check box */
  .custom-checkbox {
    gap: 16px;
    font-size: 18px;
  }

  .custom-checkbox .checkmark {
    position: relative;
    height: 34px;
    width: 34px;
    border: 3px solid #3e3e3e;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }
}
