.common-container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

/* WEB VIEW */

/* ----- SignIn start ----- */
.form-title {
  font-size: 32px;
  color: #3d3d3d;
}

.form-subtitle {
  font-size: 16px;
  color: #3d3d3d;
}

.common-sign-width {
  width: 65%;
}

.social-icons {
  width: 65px;
  height: 65px;
  border: 3px solid #3e3e3e;
  font-size: 25px;
}

/* form part */
.custom-input {
  border: 3px solid #3e3e3e;
  color: #3e3e3e;
  box-shadow: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  width: 65%;
  height: 48px;
  font-weight: 600;
}

.custom-input::placeholder {
  color: #3e3e3e;
  font-size: 16px;
}

.check-input {
  border: 3px solid #3e3e3e;
}

.custom-button-style {
  width: 65%;
  height: 48px;
}

.custom-alert {
  width: 65%;
}

/* custom check box */
.custom-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  user-select: none;
  font-size: 16px;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox .checkmark {
  position: relative;
  height: 32px;
  width: 32px;
  border: 3px solid #3e3e3e;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #3e3e3e;
  border-color: #3e3e3e;
}

/* center tick */
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.custom-checkbox input:checked ~ .checkmark::after {
  opacity: 1;
}

/* hover/focus effect */
.custom-checkbox:hover .checkmark {
  border-color: #2e2e2e;
}
/* ----- SignIn end ----- */

/* ----- Navbar start ----- */
.nav-link:hover {
  color: #000 !important;
}

.active-link span {
  transition: width 0.3s ease;
}
/* ----- Navbar end ----- */

/* ----- Footer start ----- */
.footer-text {
  font-size: 16px;
  font-weight: 700;
}
/* ----- Footer start ----- */

/* ----- Home start ----- */
.welcome-text {
  font-size: 50px;
}

/* welcome line */
.horizontal-line {
  height: 3px;
  background-color: #3d3d3d;
  width: 100%;
}

/* slider */
.banner-border {
  border: 2px solid var(--primary-color);
}

.hero-wrapper {
  align-items: stretch;
}

.hero-left {
  width: 100%;
}

.hero-right {
  width: 100%;
  max-width: 232px;
  height: 498px;
}

.slider-wrapper {
  width: 100%;
  height: 498px;
}
.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.slider-dots {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: all 0.3s;
  color: #1d1b20;
}

.custom-load-button {
  width: 15%;
  height: 55px;
  font-size: 100px;
}

/* card */
.country-card {
  height: 130px;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.102);
}

.country-card img {
  height: 100%;
  width: 127px;
  object-fit: cover;
}

.card-text {
  font-size: 24px;
  color: #3d3d3d;
}

.card-para {
  font-size: 16px;
  color: #6f6f6f;
}

/* ----- Home end ----- */

/* Skeleton Loading Effect */
.skeleton-box {
  background: linear-gradient(90deg, #e3e3e3 25%, #f0f0f0 50%, #e3e3e3 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
  border-radius: 4px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton-card {
  min-height: 160px;
}

.skeleton-slider,
.skeleton-banner {
  width: 100%;
  height: 670px;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .horizontal-line {
    height:3px;
    background-color: #3d3d3d;
  }

  .custom-alert {
    width: 100%;
  }

  .welcome-text {
    font-size: 35px;
  }

  .form-title {
    font-size: 34px;
  }

  .form-subtitle {
    font-size: 18px;
    color: #3d3d3d;
  }

  .common-sign-width {
    width: 100%;
  }

  .social-icons {
    width: 48px;
    height: 48px;
    border: 2px solid #3e3e3e;
    font-size: 15px;
  }

  /* form part */
  .custom-input {
    border: 3px solid #3e3e3e;
    color: #3e3e3e;
    box-shadow: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    height: 55px;
    font-weight: 600;
  }

  .custom-button-style {
    width: 100%;
    height: 48px;
    font-size: 16px;
  }

  .custom-load-button {
    width: 45%;
    height: 45px;
    font-size: 18px;
  }

  /* custom check box */
  .custom-checkbox {
    gap: 16px;
    font-size: 18px;
  }

  .custom-checkbox .checkmark {
    position: relative;
    height: 34px;
    width: 34px;
    border: 3px solid #3e3e3e;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }

  /* slider */
  .hero-left {
    max-height: 250px;
  }

  .hero-right {
    flex-basis: 100%;
    max-width: 100%;
  }

  .slider-wrapper {
    width: 100%;
    height: 250px;
  }

  .hero-right {
    width: 100%;
    max-height: 200px;
  }

  .footer-text {
    font-size: 13px;
    font-weight: 700;
  }

  /* card */
  .country-card {
    height: 80px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.102);
  }

  .country-card img {
    height: 100%;
    width: 60px;
    object-fit: cover;
    margin-left: 5px;
  }

  .card-text {
    font-size: 16px;
    color: #3d3d3d;
  }

  .card-para {
    font-size: 15px;
    color: #6f6f6f;
  }

  /* skelton */
  .skeleton-card {
    min-height: 80px;
  }
  .skeleton-slider {
    height: 250px;
  }
  .skeleton-banner {
    height: 200px;
  }
}
