/* src/index.css */
:root {
  --base-font: "Noto Sans", sans-serif;
  font-family: var(--base-font);
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  font-family: var(--base-font);
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
}
